#server
PORT=3000
ENV=dev

BOT_TOKEN=12345678token

FRONTEND_URL=example.com

ESKIZ_EMAIL=your@email.com
ESKIZ_PASSWORD=12345678

#AUTH
ACCESS_TOKEN_SECRET=secret
REFRESH_TOKEN_SECRET=secret
PASSPHRASE=secret

#DATABASE
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=name
